@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --font: 'Poppins', sans-serif;
  --color: #ffffff;
  --bg-color: #f7f7f7;
  --primary-color: #08c1cf; 
  --glow-color: rgba(10, 46, 110, 0.7); 
}

.btn {
  width: 10em; 
  height: 3em; 
  background-color: var(--primary-color); 
  border: none;
  border-radius: 2em;
  box-shadow: 0 0 0.5em var(--glow-color), 0 0 1em var(--glow-color); 
  outline: none;
  cursor: pointer;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.btn:active {
  transform: scale(0.9);
  box-shadow: 0 0 1.5em var(--glow-color), 0 0 3em var(--glow-color); 
}

.btn__text {
  font-size: 1.2rem; 
  font-weight: 600;
  color: var(--color); 
  position: absolute;
  transition: opacity 0.3s ease;
}

.btn__text--second {
  opacity: 0;
}

.btn__icon {
  font-size: 1.2rem; 
  color: var(--color); 
  position: absolute;
}

.btn__icon--cart {
  left: -20%;
}

.btn__icon--box {
  top: -50%;
}

.btn.active .btn__text--first {
  animation: text1 0.3s forwards;
}

.btn.active .btn__text--second {
  animation: text2 3s forwards;
}

.btn.active .btn__icon--cart {
  animation: cart 2.5s forwards;
}

.btn.active .btn__icon--box {
  animation: box 1.5s forwards;
}

@keyframes text1 {
  100% {
    opacity: 0;
  }
}

@keyframes text2 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cart {
  30%,
  60% {
    left: 42%;
  }
  100% {
    left: 110%;
  }
}

@keyframes box {
  80% {
    color: var(--color);
  }
  90%,
  100% {
    top: 15%;
    color: transparent;
  }
}
